<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "["A-Ok.ellapeacock943.edu.mit.scratch"]"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[A-Ok]</name>

    <description>
        Ann app made using Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/[cs571753]" email="[ellapeacock943@gmail.com]">
        [ellapeacock943]
    </author>

</widget>
